<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <ng-template matStepLabel>Selecione os produtos.</ng-template>
    <mat-card class="lista">
      <mat-selection-list #listaProdutos>
        <mat-list-option *ngFor="let produto of produtos" [value]="produto">
          {{produto["descricao"]}}
          <mat-divider></mat-divider>
        </mat-list-option>
      </mat-selection-list>
    </mat-card>
    <div class="navegacao">
      <button mat-flat-button color="primary" matStepperNext (click)="adicionarProdutos(listaProdutos)">Continuar<i
          class="material-icons">chevron_right</i> </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Informe os dados.</ng-template>
    <mat-card class="dados">
      <mat-form-field class="form-field">
        <input class="atendente" matInput placeholder="Atendente" [(ngModel)]="compra.atendente">
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-select placeholder="Forma de Pagamento">
          <mat-option value="dinheiro">Dinheiro</mat-option>
          <mat-option value="credito">Cartão de Crédito</mat-option>
          <mat-option value="debito">Cartão de Débito</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field">
        <input matInput [matDatepicker]="picker" placeholder="Selecione a data" (dateChange)="datePicker_onChange($event)">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </mat-card>
    <mat-card class="carrinho">
      <mat-list *ngFor="let produto of carrinho">
        <mat-list-item> {{produto.descricao}} </mat-list-item>
      </mat-list>
    </mat-card>
    <div class="navegacao">
      <button mat-flat-button color="primary" matStepperNext>Continuar&nbsp;<i class="material-icons">chevron_right</i>
      </button>
      <button mat-flat-button color="primary" matStepperPrevious><i class="material-icons">chevron_left</i>&nbsp;Voltar
      </button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Finalizar Compra</ng-template>
    <p class="finalizado" [style.visibility]="this.finalizado ? 'visible' : 'hidden'">Compra efetuada com sucesso!</p>
    <div class="navegacao">
      <button mat-flat-button color="warn" (click)="comprar()">Finalizar Compra<i class="material-icons">done</i>
      </button>
    </div>
  </mat-step>
</mat-horizontal-stepper>